# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Some of the popular languages that Data Scientists use are:**


1.   R
2.   Python

1.   SQL
2.   JavaScript

**Some of the commonly used libraries used by Data Scientists include:**


1.   Pandas
2.   NumPy

1.   Matplotlib
2.   Keras

| **Data Science Tools** |
| --- |
| Jupyter Notebooks |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes=200
hours=60
minutes/hours

3.3333333333333335

**Objectives**


*   Popular languages that Data Scientists use
*   Commonly used libraries used by Data Scientists


*   Open Source Data Science Tools
*   Commercial Data Science Tools

## Author
Ricky Pratama